@import 'config';

.book-appointment-section {
  @extend %main-properties;

  text-align: center;
  background-color: $secondary-color;
  // background-color: rgba(103, 145, 7, 0.788);

  h2 {
    margin: 1rem auto 2rem;
    color: white;
  }

  h4 {
    color: white;
  }

  ul {
    @include d-flex(center);

    flex-wrap: wrap;

    .second {
      margin: 5px;
      padding: 4px 8px;
      background-color: rgba(240, 255, 255, 0.479);

      & p:nth-child(1) {
        font-size: 1rem;
        font-weight: bold;
      }

      & p:nth-child(2) {
        margin: 3px;
      }
    }
  }

  h4 {
    color: white;
    margin-bottom: 1rem;
  }
}

form {
  .form-group {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(141, 197, 10, 0.788);
    padding: 4rem 3rem;
    border-radius: 8px;

    .sub-title {
      color: $text-color;
      padding-bottom: 1rem;
    }

    input {
      width: 80%;
      max-width: 400px;
      margin: 0.5rem auto;
    }
  }

  .btn-appointment button {
    @extend %btn-color;
    @extend %btn-properties;
    background-color: white;
    color: rgba(141, 197, 10, 0.788);
  }
}

@import 'desktop';
